[Unit]
Description=Daily Secret Stripper update check

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1h
Unit=secret-stripper-update-check.service

[Install]
WantedBy=timers.target
